<style>
  .btn-search{
    background-color: #fe424d;
    color: white;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .btn-search:hover {
    background-color: #fe424d;
    color: white;
  }

  .btn-search i {
    display: inline;
    margin-right: 0.5rem;
  }

  .inp-search{
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
  }
  .inp-search:hover{
    box-shadow: 0 0 1px 1px red;
  }

  .dropdown{
    border: 2px solid rgb(223, 85, 6);
        border-radius: 3rem;
        height: 3.5rem;
        padding: 1rem;
        margin-right: 100px;
        
  }
  .dropdown:hover{
    box-shadow: 0 0 1px 1px red;
  }

  .explore{
    margin-left: 100px;
  }
 
  .dbox{
   
    text-align: center;
    border-radius: 3rem;
  }
  a:hover{
    color: #fe424d;
  }

</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid explore">
      <a class="navbar-brand fs-1" href="/listings"><i class="fa-regular fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ">
          <!-- <a class="nav-link "  href="#">Home</a> -->
          <a class="nav-link" href="/listings"><b style="color: #fe424d;">Explore</b></a>
         
         
        </div>


          <div class="nav-item dropdown ms-auto dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-bars "></i> &nbsp; &nbsp;
              <i class="fa-solid fa-user"></i>
            </a>
             
            
             
            <% if(!currUser) { %>
        
                <li><a class="nav-link "  href="/signup"><b>Sign Up</b></a></li>
                <li><a class="nav-link " href="/login"><b>Log in</b></a></li>
            
            <% } %> <% if(currUser) { %>
      
                <li><a class="nav-link link-danger"  href="/logout"><b>Log out</b></a></li>
              
            <% } %>
          </div>
         
        </div>
      </div>
    </div>
  </nav>